# Reddit API credentials
REDDIT_CLIENT_ID=MSK2zxstWHDEUPYRuCeB7w
REDDIT_CLIENT_SECRET=UVM_kO7vgVJqGkIUGCWos69rKFC7uA
REDDIT_USER_AGENT=LexingtonHeadlinesBot by u/lexdata859
REDDIT_USERNAME=lexdata859
REDDIT_PASSWORD=m0Nkey42$


-## moonshitdevreddit.md (Reddit API Credentials)

- **Username:** `moonshitDEV`
- **User Agent:** `IamMOONSHITdev by u/moonshitDEV`
- **Client ID:** `XwPQTXcK0BKbl7BaBsIzMg`
- **Client Secret:** `cbdnH5Ks04Co7xMxBoFpIHQXNbte4w`
- **Password:** `xbaj wzft pewg jbyk`
